/*-----------------------------------------------------------------------------------

	01.	CSS Reset & Clearfix
	02.	Document Setup (body, common classes, vertical rhythm, structure etc)
	03.	Header
	04.	Navigation & Menus
	05.	Main Content
	06.	Post Content
	07.	Comments
	08.	Pagination
	09.	Footer
	10.	Page
	11.	Widgets
	12.	Widgets
	13.	Sortcodes

-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	01.	CSS Reset & Clearfix
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	02.	Document Setup (body, common classes, vertical rhythm, structure etc)
/*-----------------------------------------------------------------------------------*/
body {
	background:url(images/body_bg.gif) repeat;
	margin: 0;
	padding: 0;
}
body,
input,
textarea {
	/* font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; */
	color: #999;
}
.hidden { display: none; }
.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.left { float: left }
.right { float: right }

/*-----------------------------------------------------------------------------------*/
/*	03.	Header
/*-----------------------------------------------------------------------------------*/
.logo {

}
.navbar-brand > img {
    height: 100%
}

/*-----------------------------------------------------------------------------------*/
/*	04.	Navigation & Menus
/*-----------------------------------------------------------------------------------*/


.n00b-menu li > a {
    padding: 10px 15px;
    color: #000;
}

.n00b-menu.active a:focus,
.n00b-menu li a:focus ,
.navbar > .show > a:focus{
    /* background: transparent; */
    outline: 0;
}

.n00b-menu .dropdown-menu {
	padding: 0;
	margin: 0;
	border-radius: 0
}

.n00b-menu .dropdown-menu .show > .dropdown-toggle::after{
    transform: rotate(-90deg);
}

.navbar-nav li:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
    /* Without this, clicking will make it sticky */
    pointer-events: none;
}


/*-----------------------------------------------------------------------------------*/
/*	05.	Main Content
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	06.	Post Content
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	07.	Comments
/*-----------------------------------------------------------------------------------*/
div[class^="comment-form-"] {
	margin-bottom: 15px;
}
div[class^="comment-form-"] input[name="author"],
div[class^="comment-form-"] input[name="email"],
div[class^="comment-form-"] input[name="url"],
div[class^="comment-form-"] textarea[name="comment"] {
	width: 100%;
}

/*-----------------------------------------------------------------------------------*/
/*	08.	Pagination
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	09.	Footer
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	10.	Page
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	11.	Sidebar
/*-----------------------------------------------------------------------------------*/
.sidebar {
	margin-top: 20px
}
.sidebar section {
	margin-bottom: 40px
}
.sidebar ul,
.sidebar ol {
	list-style-type: none;
	padding: 0
}
.sidebar li {
	margin: 10px 0
}

/*-----------------------------------------------------------------------------------*/
/*	12.	Widgets
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	13.	Sortcodes
/*-----------------------------------------------------------------------------------*/




 
/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
	margin: 5px 15px 15px 0;
}
.aligncenter {
	display: block;
	margin: 5px auto;
}
.alignright {
	float: right;
	margin: 5px 0 20px 20px;
	margin: 5px 0 15px 15px;
}
.alignleft {
	float: left;
	margin: 5px 15px 15px 0;
}

/**
 * Gallery & images
 */
.wp-caption {
	background: white;
	border: thin solid #F0F0F0;
	max-width: 95%;
	padding: 5px 5px;
	text-align: center;
}
.wp-caption img {
	width: auto;
	max-width: 98.5%;
	height: auto;
	border: 0 none;
	padding: 0;
	margin: 0;
}

.wp-caption .wp-caption-text,
.gallery-caption {
	margin: 0;
	padding: 0 5px 5px;
	font-size: 140%;
	line-height: 1.5;
}

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, 
.clear:after {
	content: " ";
	display: table;
}
.clear:after {
	clear: both;
}
.reset-box {
	padding: 0;
	margin: 0;
}

/**
 * partials/wrapper
 * ---
 */
.wrapper {
	margin: 0 auto;
	position: relative;
}

/**
 * partial/header
 * ---
 */
/**
 * partials/nav
 * ---
 * Menus
 */
/**
 * partials/sidebar
 * ---
 */
/**
 * partials/footer
 * ---
 */
/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	/*
	* Don't show links that are fragment identifiers,
	* or use the `javascript:` pseudo protocol
	*/
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
		/* h5bp.com/t */
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h3 {
		page-break-after: avoid;
	}
}